<!DOCTYPE html>
<html >
<body  align="center" style="background-color:green;">
<head>
  <meta charset="UTF-8">
  <title>Model Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 28px;
      }
    </style>


</head>

<body>
 <div class="login">
	<h1 style="text-align:center">Sentiment based recommender System</h1>

    <form align="center" action="{{ url_for('recommend')}}"method="post">
    	<input type="text" style="text-align:center" name="UserName" placeholder="User_name" required="required" />
        <br>


        <button align="center" type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
    </form>

   <br>
   
   <br>
   {% for table in tables %}
            {{table | safe}}
   {% endfor %}

 </div>


</body>
</html>
